@{
	ViewData["Title"] = "About Page";
}

<div>
	<h1 class="display-4">IST 256 - Group 4</h1>
	<p>
		Group Contract
	</p>
	<div class="row">
		<div class="col-4">
            <p>Communication Plan</p>
		</div>
		<div class="col-4">
			<p>Code of Conduct</p>
		</div>
		<div class="col-4">
			<p>Level of Expectation</p>
		</div>
        <div class="col-4">
			<p>Group Values</p>
		</div>
	</div>
    <div class="row">
		<div class="col-4">
            <p>Group Member Photos</p>
		</div>
		<div class="col-4">
			<p>Group Member Names</p>
		</div>
		<div class="col-4">
			<p>Member Skills (What are you good at?)</p>
		</div>
        <div class="col-4">
			<p>Member Challenges (What are your challenges?</p>
		</div>
	</div>
</div>
