@{
	ViewData["Title"] = "About Page";
}
<div class="container mt-5">
	<!-- Group Contract Section -->
	<div class="bg-light p-5 rounded-lg m-3">
		<h1 class="display-4">Group Contract</h1>
		<p class="lead">
			Group 4
			<hr class="my-4">
		<p>
			<strong>Communication Plan:</strong> We will communicate out of class by text messages to organize future work. Additionally, we
			will be utilizing github to push and pull changes to the code. While in class we will speak professionally to organize our work
			amoungst ourselves.
		</p>
		<p><strong>Code of Conduct:</strong> All members agree to fully take action to contribute coordinately to reach our end goal. This includes making sure our part is each done before the deadline as well as being reachable by message. </p>
		<p><strong>Level of Expectation:</strong> We are expecting accountability and equal effort for each member of the group. If members are not contributing equally or missing meetings than we expect to hold them accountable for their missing work.</p>
		<p><strong>Group Values:</strong> To fulfill all of the requirements of each process of our project. We also value cooperating a one functioning group working to reach the same result.</p>
	</div>

	<!-- Members Details -->
<div class="row mt-4">
    <!-- Member 1 -->
    <div class="col-md-4 mb-4">
        <div class="card shadow-sm" style="height: 100%;">
            <img src="/images/Jason.jpg" class="card-img-top" alt="Jason's picture" style="height: 400px;"> 
            <div class="card-header bg-primary text-white">
                Jason Selsley
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <strong>Good at:</strong> C++, Java, Python, SQL, C#, HTML, JavaScript, Bootstrap
                </li>
                <li class="list-group-item">
                    <strong>Challenges: </strong> May struggle with organization
                </li>
            </ul>
        </div>
    </div>
    <!-- End of block for each member -->

    <!-- Member 2 -->
    <div class="col-md-4 mb-4">
        <div class="card shadow-sm" style="height: 100%;">
            <img src="/images/ben.jpg" class="card-img-top" alt="Ben's picture" style="height: 400px;">
            <div class="card-header bg-primary text-white">
                Ben Oleynik
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <strong>Good at:</strong> Java, HTML, CSS, SQL
                </li>
                <li class="list-group-item">
                    <strong>Challenges:</strong> Using Git, Javascript, C(#, ++)
                </li>
            </ul>
        </div>
    </div>
    <!-- End Member 2 -->

    <!-- Member 3 -->
    <div class="col-md-4 mb-4">
        <div class="card shadow-sm" style="height: 100%;">
            <img src="/images/ethan.jpg" class="card-img-top" alt="Ethan's picture" style="height: 400px;">
            <div class="card-header bg-primary text-white">
                Ethan Snyder
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <strong>Good at:</strong> Working hard, graphic design, and low-fidelity prototyping
                </li>
                <li class="list-group-item">
                    <strong>Challenges:</strong> Attention to detail
                </li>
            </ul>
        </div>
    </div>
    <!-- End Member 3 -->

    <!-- Member 4 -->
    <div class="col-md-4 mb-4">
        <div class="card shadow-sm" style="height: 100%;">
            <img src="/images/Nick.JPG" class="card-img-top" alt="Nick's picture" style="height: 400px;">
            <div class="card-header bg-primary text-white">
                Nick Volpe
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <strong>Good at:</strong> Teamwork, CSS, Java
                </li>
                <li class="list-group-item">
                    <strong>Challenges:</strong> Git, complex html, Jquery
                </li>
            </ul>
        </div>
    </div>
    <!-- End Member 4 -->

    <!-- Member 5 -->
    <div class="col-md-4 mb-4">
        <div class="card shadow-sm" style="height: 100%;">
            <img src="/images/nicole.jpg" class="card-img-top" alt="Nicole's picture" style="height: 400px;">
            <div class="card-header bg-primary text-white">
                Nicole Leon
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <strong>Good at:</strong> HTML, CSS, Javascript, Java, SQL, GitHub
                </li>
                <li class="list-group-item">
                    <strong>Challenges:</strong> Procrastination
                </li>
            </ul>
        </div>
    </div>
    <!-- End Member 5 -->

    <!-- Member 6 -->
    <div class="col-md-4 mb-4">
        <div class="card shadow-sm" style="height: 100%;">
            <img src="/images/Colin.jpg" class="card-img-top" alt="Colin's Picture" style="height: 400px;">
            <div class="card-header bg-primary text-white">
                Colin Wood
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <strong>Good at:</strong> Java, SQL, HTML, Python
                </li>
                <li class="list-group-item">
                    <strong>Challenges:</strong> Time Management
                </li>
            </ul>
        </div>
    </div>
    <!-- End Member 6 -->

</div>
<!-- End Members Details -->


	<!-- Bootstrap 5 JS (optional) -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>