<!-- Home Heading with improved background color and typography -->
<html>
    <head>

    </head>
    <body style="background-color: #cddcf6;">
        <section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h1 style="font-family: 'Comic Sans MS', 'Comic Sans', cursive;">PrankStar</h1>
                <p class="lead" style="font-family: 'Arial', sans-serif;">The best pranks in State College!</p>
            </div>
        </div>
    </div>
</section>

<!-- Section with improved logo quality and layout -->
<section class="py-5" >
    <div class="container">
        <div class="row">
            <img src="images/prankstar-logo-but-better.png" class="img-responsive" style="max-width:50%; display: block; margin: 20px auto;" width="500" alt="PrankStar logo">
            <p style="text-align: center; font-family: 'Arial', sans-serif;">Hello, and welcome to PrankStar! With a team of creative masterminds, PrankStar is committed to delivering carefully curated pranks for each client. Founded in 2023, we are passionate about spreading laughter via (mostly) harmless mischief in the State College area! (Not liable for damages)</p>
        </div>
    </div>
</section>
    </body>
</html>


