<!-- Carousel for Featured Pranks -->
<div id="featuredPranksCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="..." class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Featured Prank #1</h5>
                <p>Description of the prank.</p>
            </div>
        </div>
        <!-- Repeat for more items -->
    </div>
</div>

<!-- Product Section -->
<section class="py-5">
    <div class="container">
        <div class="row">
            <!-- Product Card 1 -->
            hello, welcome to PrankStar
        </div>
    </div>
</section>
