<!-- Home Heading-->
<section class="home-heading">
    <div class="container">
        <div class="row">
            <img src="images\prankstar-logo-but-better.png" class="img-responsive" style="max-width:20%;" width= 500 alt="PrankStar logo">
            <!-- make the image but smaller -->
            Hello, welcome to PrankStar
        </div>
    </div>
</section>
