<!-- Home -->
<section class="py-5">
    <div class="container">
        <div class="row">
            <img src="..." class="d-block w-100" alt="...">

            hello, welcome to PrankStar
        </div>
    </div>
</section>
