<!-- Home -->
<section class="py-5">
    <div class="container">
        <div class="row">
            <img src="..." class="d-block w-100" alt="...">
            Hello, and welcome to PrankStar! With a team of creative masterminds, 
            PrankStar is committed to delivering carefully curated pranks for each client. 
            Founded in 2023, we are passionate about spreading laughter via (mostly) harmless mischief in the State College area! 
            (Not liable for damages)
        </div>
    </div>
</section>
