@model List<FinalProject.DAL.Models.Category>

@{
	ViewData["Title"] = "Index";
}



<div class="bg-light p-5 rounded-lg m-3">
	<h1 class="display-4"></h1>PrankStar Categories</h1>
	<p class="lead">Select from the categories below to view our delicious imported goodies</p>
	<hr class="my-4">
	<p>More text could go here that would be useful for an end user</p>
	<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>

<div class="row">
	@for (int i=0; i< 7; i++)
	{
		var item = Model[i];
		<div class="card m-1" style="width: 18rem;padding:0">
			<img src="@item.Image" alt="@item.CategoryName" />
			<div class="card-body">
				<h5 class="card-title">@ViewBag.Pranks[i]</h5>
				<p class="card-text">@ViewBag.prankDescriptions[i]</p>
			</div>
			<div class="card-footer btn-group">
				<a href="#" class="btn btn-primary">
					Order
				</a>

			</div>
		</div>
	}
</div>
